/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
}

body {
  background: url(https://raw.githubusercontent.com/twilson63/flexgrid-tesla/master/public/images/hero-3.jpg) center/cover fixed no-repeat;
  max-width: 99%;
  max-height: 99%;
}

h2 {
  font-size: 15px;
  font-weight: normal;
}

.roadster {
  color:yellow;
}

.main-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 10px;
}

.center-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}

.menu-item {
  padding-right: 20px;
}

.right-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
.nav {
  margin: 20px;
}

main {
  text-align: center;
}

.description {
color: #fff;
position: absolute;
bottom: 100px;
padding: 0 20%;
}

footer {
  color: #fff;
  position: absolute;
bottom: 0px;
padding: 0 20%;
display: flex;
justify-content: space-between;
}

.padding {
  padding: 0 20px;
} 

.border-right {  
  border-right: 2px solid #fff;
}

.reserveNowBtn {
  border-radius: 25px;
  background: transparent;
  color: #fff;
  padding: 0.3em 0.2em;
  height: 40px;
  width: 250px;
}

.reserveNowBtn:hover {
  background-color: #fff;
}

.strong {
  font-size: xx-large;
  font-style: bold;
}

.bottom-footer {
  font-size: x-small;
  text-align: center;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url(https://raw.githubusercontent.com/twilson63/flexgrid-tesla/master/public/images/hero-1.jpg);
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url(https://raw.githubusercontent.com/twilson63/flexgrid-tesla/master/public/images/hero-2.jpg);
  }
}

